:root {
  --ff-primary: Tangerine, cursive;
  --ff-secondary: Merriweather, serif;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul:where([role=list]),
ol:where([role=list]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0 0 70px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
h1.h1,
h2.h1,
h3.h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
h1.h2,
h2.h2,
h3.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h1.h3,
h2.h3,
h3.h3 {
  font-size: 2rem;
  font-weight: 400;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #007bff, #00c6ff);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 123, 255, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(45deg, #0056b3, #006bbf);
  box-shadow: 0px 15px 20px rgba(0, 123, 255, 0.5);
  transform: translateY(-5px);
}

button:active {
  transform: translateY(-2px);
}

h1 {
  display: none;
}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.challenge h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}
.challenge h2 {
  display: none;
}

.challenge .tasks-info {
  display: none;
}

.challenge .unlock-points-info {
  display: none;
}

.challenge .question {
  border: 1px solid #ccc;
  font-size: 1.2em;
  color: #333;
  margin-top: 20px;
  padding: 10px;
}

.challenge .multiple-choice-options {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
}

.challenge .challenge-actions {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
}
.challenge .challenge-actions button {
  padding: 5px 10px;
  margin: 5px;
}

.challenge ul li {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.challenge ul li:last-child {
  display: block;
  background-color: #e1f5fe;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.challenge ul li:last-child:hover {
  background-color: #b3e5fc;
}

.footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.challenge .multiple-choice-options {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  text-align: left;
  width: 300px;
  border: 1px solid #007bff;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.1);
}
.challenge .multiple-choice-options .multiple-choice-option {
  display: block;
  padding: 10px;
  margin: 10px 0;
  background-color: #cce5ff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  user-select: none;
}
.challenge .multiple-choice-options .multiple-choice-option:hover {
  background-color: #b8daff;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio] {
  display: none;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio]:checked + span {
  background-color: #0056b3;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}
.challenge .multiple-choice-options .multiple-choice-option span {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #e9ecef;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 5px #ff5f6d;
  }
  50% {
    box-shadow: 0 0 20px #ffc371;
  }
  100% {
    box-shadow: 0 0 5px #ff5f6d;
  }
}
.progress-container {
  width: 100%;
  background-color: #eee;
  border-radius: 1em;
  overflow: hidden;
}

.progress-bar {
  height: 2em;
  line-height: 2rem;
  color: black;
  text-align: center;
  transition: width 0.4s ease;
  animation: intenseMoveGradient 3s linear infinite, glowingBorder 3s infinite alternate;
  background: linear-gradient(90deg, #ff0000, #ff7f00, #ffbf00, #ffff00);
  background-size: 200% 100%;
}
