:root {
  --ff-primary: Tangerine, cursive;
  --ff-secondary: Merriweather, serif;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul:where([role=list]),
ol:where([role=list]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  --background-primary: #f5f5f5;
  --text-primary: #121212;
  --bg-color: var(--tg-theme-bg-color, var(--background-primary));
  --text-color: var(--tg-theme-text-color, var(--text-primary));
  background-color: var(--bg-color);
  color: var(--text-color);
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  margin: 8px 4px;
  padding: 0;
  color-scheme: var(--tg-color-scheme, light);
}

a {
  color: var(--tg-theme-link-color);
}

#viewport {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--tg-viewport-stable-height, 100vh);
  pointer-events: none;
  transition: all 0.2s ease;
}

#viewport:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(45deg, rgba(64, 224, 208, 0.5), rgba(173, 255, 47, 0.5)) 1;
}

#viewport-params-size,
#viewport-params-expand {
  content: attr(text);
  position: absolute;
  display: inline-block;
  background: var(--tg-theme-link-color, rgb(64, 224, 208));
  right: 4px;
  left: auto;
  font-size: 8px;
  padding: 4px;
  vertical-align: top;
}

#viewport-params-size {
  top: 4px;
}

#viewport-params-expand {
  top: 30px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
h1.h1,
h2.h1,
h3.h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
h1.h2,
h2.h2,
h3.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h1.h3,
h2.h3,
h3.h3 {
  font-size: 2rem;
  font-weight: 400;
}

.challenge-actions button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #007bff, #00c6ff);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 123, 255, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.challenge-actions button:hover {
  background: linear-gradient(45deg, #0056b3, #006bbf);
  box-shadow: 0px 15px 20px rgba(0, 123, 255, 0.5);
  transform: translateY(-5px);
}

.challenge-actions button:active {
  transform: translateY(-2px);
}

h1 {
  display: none;
}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
.challenge h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}
.challenge h2 {
  display: none;
}

.challenge .tasks-info {
  display: none;
}

.challenge .unlock-points-info {
  display: none;
}

.challenge .question {
  font-size: 1.5em;
  border: 1px solid #007bff;
  border-radius: 10px;
  background-color: #b8daff;
  padding: 1em;
  margin-top: 2.5em;
  box-shadow: 0px 4px 8px rgba(255, 165, 0, 0.2);
}
.challenge .question h2 {
  font-size: 0.5em;
  text-align: left;
}

.challenge .challenge-actions {
  border: 1px solid #007bff;
  border-radius: 8px;
  margin-top: 20px;
}
.challenge .challenge-actions button {
  padding: 5px 10px;
  margin: 5px;
}

.challenge-page.correct {
  animation: flicker-correct 0.5s linear;
}
.challenge-page.correct .challenge {
  background-color: transparent;
}

.challenge-page.incorrect {
  animation: flicker-incorrect 0.5s linear;
}
.challenge-page.incorrect .challenge {
  background-color: transparent;
}

@keyframes flicker-correct {
  0%, 100% {
    background-color: transparent;
  }
  50% {
    background-color: #28a745;
  }
}
@keyframes flicker-incorrect {
  0%, 100% {
    background-color: transparent;
  }
  50% {
    background-color: #dc3545;
  }
}
.challenge .multiple-choice .challenge-result ul li {
  display: none;
}

.challenge .multiple-choice ul li:last-child {
  display: block;
  background-color: #e1f5fe;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.challenge .multiple-choice ul li:last-child:hover {
  background-color: #b3e5fc;
}

.challenge-result h2 {
  font-size: 0.5em;
  text-align: left;
}
.challenge-result ul {
  list-style-type: none;
  padding: 0;
}
.challenge-result ul li {
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.challenge-result ul li .result-correct {
  background-color: #d4edda;
  color: #155724;
  border-radius: 1rem;
  padding: 0.2rem;
}
.challenge-result ul li .result-correct::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #28a745;
}
.challenge-result ul li .result-incorrect {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 1rem;
  padding: 0.2rem;
}
.challenge-result ul li .result-incorrect::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #dc3545;
}

.claim {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
}
.claim h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.claim p {
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #555;
}
.claim .claim-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.claim .claim-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  position: relative;
}
.claim .claim-button i {
  margin-right: 8px;
}
.claim .claim-button .loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none;
}
.claim .claim-button:disabled .loader {
  display: inline-block;
}
.claim .claim-button:hover {
  background-color: #0056b3;
}
.claim .claim-button:active {
  background-color: #004080;
}
.claim .claim-error {
  color: red;
  font-size: 0.9em;
  margin-left: 10px;
}
.claim .claim-error p {
  color: red;
  margin: 0;
}
.claim a {
  display: block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}
.claim a:hover {
  text-decoration: underline;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 2px solid #e7e7e7;
  text-align: center;
}

.challenge .multiple-choice-options {
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1em;
  text-align: left;
  border: 1px solid #007bff;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.1);
  scale: 0.9;
}
.challenge .multiple-choice-options .multiple-choice-option {
  display: block;
  padding: 1em;
  margin: 1em 0;
  background-color: #cce5ff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  user-select: none;
}
.challenge .multiple-choice-options .multiple-choice-option:hover {
  background-color: #b8daff;
  scale: 1.05;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio] {
  display: none;
}
.challenge .multiple-choice-options .multiple-choice-option input[type=radio]:checked + span {
  background-color: #0056b3;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}
.challenge .multiple-choice-options .multiple-choice-option span {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #e9ecef;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 5px #ff5f6d;
  }
  50% {
    box-shadow: 0 0 20px #ffc371;
  }
  100% {
    box-shadow: 0 0 5px #ff5f6d;
  }
}
.progress-container {
  width: 100%;
  background-color: #eee;
  border-radius: 1em;
  overflow: hidden;
}

.progress-bar {
  height: 2em;
  line-height: 2rem;
  color: black;
  text-align: center;
  transition: width 0.4s ease;
  animation: intenseMoveGradient 3s linear infinite, glowingBorder 3s infinite alternate;
  background: linear-gradient(90deg, #ff0000, #ff7f00, #ffbf00, #ffff00);
  background-size: 200% 100%;
}

.result-summary {
  margin-top: 5rem;
  padding: 2em;
  text-align: center;
}
.result-summary h2 {
  font-size: 0.5em;
  text-align: left;
}

.version {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: vertical;
}
.version .value {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

.wallet {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: vertical;
}

#wallet-button {
  margin-right: 10px;
}

.balance {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

.symbol {
  margin-right: 5px;
  color: gold;
  font-size: 0.8em;
}
