@forward "button";
@forward "challenge";
@forward "challenge_result";
@forward "claim";
@forward "footer";
@forward "multiple_choice_options";
@forward "progress_bar";
@forward "result_summary";
@forward "version";
@forward "wallet";
